name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build-and-test:
    runs-on: windows-latest


    strategy:
      matrix:
        build_type: [Debug, Release]


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            path: .


      - name: Install vcpkg
        uses: lukka/run-vcpkg@v11
        with:
            cache: true
            vcpkgJsonGlob: "vcpkg.json"
            runVcpkgInstall: true


      - name: Configure CMake
        working-directory: ${{ github.workspace }}
        run: >          
          cmake -S . -B build-mingw -G "MinGW Makefiles" 
          -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}\vcpkg\scripts\buildsystems\vcpkg.cmake" 
          -DVCPKG_TARGET_TRIPLET=x64-mingw-dynamic 
          -DCMAKE_POLICY_VERSION_MINIMUM=3.5
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          

      - name: Build
        run: |
          cmake --build build-mingw -j --config ${{ matrix.build_type}}


      - name: Run tests
        run: |
          cd build-mingw
          ctest -C ${{ matrix.build_type }} --output-on-failure